.UserCard {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 220px;
}

.loading {
  height: 50px;
  width: 220px;
  display: flex;
  padding: 0 10px;
  align-items: center;
}

.info {
  display: flex;
  gap: 10px;
  align-items: center;
}
