.EquipmentsFilters {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.panel {
  display: flex;
  justify-content: space-between;
}

.search {
  width: 100%;
}

.sorts {
  display: flex;
  gap: 20px;
}