.Card {
  border-radius: 10px;
  padding: 10px;
}

.border {
  border: 2px solid var(--secondary-color);
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}