.TextareaWrapper {
  margin: 0;
  padding: 0;
}

.textarea {
  resize: none;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: var(--font-size-s);
  height: 70px;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.label {
  margin-left: 4px;
  margin-bottom: 3px;
}

.validateErrorText {
  margin-left: 4px;
}